.cindrella {
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: #3490de;
    font-size: 30px;
}
.story {
    text-align: center;
    color: black;
    font-family: sans-serif;
    line-height: 35px;
}