.lava {
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: #ff2e63;
}
.story {
    font-family: 'Rubik', cursive;
    text-align: center;
    color: black;
    line-height: 37px;
}