.header {
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: #ff2e63;
}
.st {
    color: black;
    font-family: 'Rubik', cursive;
    line-height: 40px;
}