.girl {
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: #0f3460;
    font-size: 30px;
}
.missing {
    text-align: center;
    color: black;
    font-family: sans-serif;
    line-height: 40px;
    font-size: 30px;
}