.gulliver {
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: #be5683;
    font-size: 30px;
}
.ch1 {
    text-align: center;
    font-family: sans-serif;
    color: grey;
    font-size: 20px;
}
.story {
    text-align: center;
    color: black;
    font-family: sans-serif;
    line-height: 40px;
    font-size: 30px;
}
.ch2 {
    text-align: center;
    font-family: sans-serif;
    color: grey;
    font-size: 20px;
}
.st2 {
    text-align: center;
    color: black;
    font-family: sans-serif;
    line-height: 40px;
    font-size: 30px;
}
.ch3 {
    text-align: center;
    font-family: sans-serif;
    color: grey;
    font-size: 20px;
}
.st3 {
    text-align: center;
    color: black;
    font-family: sans-serif;
    line-height: 40px;
    font-size: 30px;
}
.ch4 {
    text-align: center;
    font-family: sans-serif;
    color: grey;
    font-size: 20px;
}
.st4 {
    text-align: center;
    color: black;
    font-family: sans-serif;
    line-height: 40px;
    font-size: 30px;
}