body {
    margin: 0;
}
header {
    background: #fff;
}
header::after {
    content: '';
    display: table;
    clear: both;
}
.img {
    float: left;
}
nav {
    float: right;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    display: inline-block;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 26px;
}
nav a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: sans-serif;
}
nav a:hover {
    color: #ce0f3d;
}

/*Nav ends here!*/

.des {
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    background-color: #f67280;
    color: #fff;
    margin: 0;
}
hr {
    color: grey;
    width: 30%;
}
.intro {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: #ff6f3c;
    font-size: 20px;
}
.discription {
    text-align: center;
    font-family: 'Rubik', cursive;
    line-height: 30px;
}
.o-book {
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: #17b978;
}
.when {
    text-align: center;
    font-family: 'Rubik', cursive;
    font-size: 20px;
    border: #7dace4 solid;
    margin-left: 500px;
    padding-right: 40px;
    margin-right: 500px;
    line-height: 30px;
    padding-left: 40px;
}
.color {
    background-color: #90f2ff;
}
.b {
    text-align: center;
    font-family: 'Fredoka One', cursive;
    color: black;
}
.information {
    text-align: center;
    line-height: 25px;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
}
/*readers*/

.read {
    padding-left: 20px;
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 30px;
    color: #c060a1;
}
h2 {
    padding-left: 30px;
    font-family: 'Fredoka One', cursive;
}
.c {
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    color: black;
}